<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>Nimi</h4>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <h4>Tapahtumapaikka</h4>
    <%= f.text_field :venue %>
  </div>
  <div class="field">
   <h4>Kaupunki</h4>
     <%= f.text_field :city %>
  </div>
  <div class="field">
   <h4>Päivämäärä</h4>
     <%= f.text_field :date %>
  </div>
  <div class="field">
   <h4>Kellonaika</h4>
     <p><%= f.text_field :start_time %> – <%= f.text_field :end_time %></p>
  </div>
  <div class="field">
   <h4>Hinta</h4>
     <%= f.number_field :price %>
  </div>
  <div class="field">
   <h4>Kuvaus (esiintyjät yms.)</h4>
     <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
